<!DOCTYPE html>
<html>
<head>
	<title>Меню</title>
	<style>
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
		}
		li {
			margin: 0;
			padding: 0;
		}
		a {
			display: block;
			padding: 10px;
			text-decoration: none;
			color: #333;
		}
		ul ul {
			display: none;
		}
		ul li:hover > ul {
			display: block;
		}
	</style>
</head>
<body>
	<ul>
		{% for item in menu_items %}
		<li>
			<a href="{{ item.url }}">{{ item.title }}</a>
			{% if item.children.all %}
			<ul>
				{% for child in item.children.all %}
				<li>
					<a href="{{ child.url }}">{{ child.title }}</a>
					{% if child.children.all %}
					<ul>
						{% for grandchild in child.children.all %}
						<li>
							<a href="{{ grandchild.url }}">{{ grandchild.title }}</a>
							{% if grandchild.children.all %}
							<ul>
								{% for greatgrandchild in grandchild.children.all %}
								<li>
									<a href="{{ greatgrandchild.url }}">{{ greatgrandchild.title }}</a>
								</li>
								{% endfor %}
							</ul>
							{% endif %}
						</li>
						{% endfor %}
					</ul>
					{% endif %}
				</li>
				{% endfor %}
			</ul>
			{% endif %}
		</li>
		{% endfor %}
	</ul>
</body>
</html>
